{{ form }}

{% if search_title %}
  <h2>{{ search_title }}</h2>
{% endif %}

{% if no_of_results %}
  <p>{{ no_of_results }}</p>
{% endif %}

{% if no_results_found %}
<h2>No Results</h2>
  <p>Sorry we couldn’t find a result for your search.
     Try to search again by, checking your search for spelling mistakes
     and/or reducing the number of keywords used. You can also try using
     a broader search phrase.</p>
  <h2>Are you searching for a Part Number or Serial Number?</h2>
  {% endif %}

{{ search_help }}

{{ results }}

{{ pager }}
